html{
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    
}


.container{
    width: 70%;
    margin:auto;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: auto auto auto;
   
    
    
}
.box:nth-child(-n+3){
    font-weight: bold;
   
    background-color: silver;
    border-top: 2px solid black;
}


.box{
    float: left;
    background-color: beige;
    height: 50px;
    padding: 7px;
    font-weight: 500;
    border: 2px solid black;
    border-top: 0;

}

@media only screen and (max-width: 700px) {
    html {
      font-size:40%;
    }
  }

 